@import "_normalize";
@mixin change-size {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: 1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
.art-mod.art{
	background-color: #ADFF2F;
}


#hamburger{
	float: left;
	display: none;
	height: 50px;
	width: 35px;
	margin-left: 2%;
	@include change-size{
		display: inline-block;
	
		body.active &{
			.span{
				background-color: transparent;
				&:before{
					top: 0;
				  	transform: rotate(45deg);
				}
				&:after{
					top: 0;
				  	transform: rotate(-45deg);
				}
			}

		}
	}
	.span{
		  transition: all 300ms ease-in-out;
		  cursor: pointer;
		  border-radius: 1px;
		  height: 5px;
		  width: 35px;
		  
		  position: absolute;
		  display: block;
		  content: '';
		  float: left;
		  background-color: #3ac162;
		  top: 20px;
			
		  @include change-size{
			  body.active &{
			  	background-color: transparent;
			  }
			}
		  &:before{
		  	background-color: #3ac162;
		  	transition: all 300ms ease-in-out;
		  cursor: pointer;
		  border-radius: 1px;
		  height: 5px;
		  width: 35px;
		  
		  position: absolute;
		  display: block;
		  content: '';
		  top: -10px;
		  
		  }
		  &:after{
		  	background-color: #3ac162;
			  	transition: all 300ms ease-in-out;
			  cursor: pointer;
			  border-radius: 1px;
			  height: 5px;
			  width: 35px;
			  
			  position: absolute;
			  display: block;
			  content: '';
			  bottom: -10px;
			  
		  }
	}
	
}

body{
	margin: 0 auto;
	background-color: #5fcf80;
}
.menu{
	width: 300px;
	position: fixed;
	transform:translate(-300px,0);
	height: 100%;
	transition:transform 0.4s ease;
	background-color: #6b6b6b;

	.menu__list{
		padding: 0;
		a{
			text-decoration: none;
			.menu__item{
				display: block;
				border-bottom: 1px solid #fff;
				text-transform: uppercase;
				color: #fff;
				padding: 20px;
				font-size: 19px;
			}
		}
	}
	@include change-size{
		body.active &{
			transform:translateX(0);

		}
	}
}
#wrapper{
	transition:transform 0.4s ease;
	@include change-size{
		body.active &{
			transform:translateX(300px);
			
		}
	}
	header{
		width: 100%;
		background-color: #fff;
		overflow: auto;

		

		
		.logo{
			display: inline-block;
			margin-left: 2%;
			float: left;
			background: url(../images/flopper.png) no-repeat;
			width: 162px;
			height: 74px;
			@include change-size{
				display: inline-block;
				background: url(../images/flopper1.png) no-repeat;
				width: 110px;
				height: 50px;
			}
		}
		nav{
			display: inline-block;
			width: 250px;
    		margin-top: 15px;
    		margin-left: 4%;
    		@include change-size{
    			display: none;
    		}
			.nav{
				padding: 0;
				.nav__a{

					.nav__menu{
						color: #576c95;
						display: inline-block;
						float: right;
						text-transform: uppercase;
						margin-right: 7%;
					}
				}
				
			}
		}
		.help{
			background-color: transparent;
			border: none;
			color: #4da83b;
			float: right;
			padding: 5px;
			margin-right: 2%;
    		margin-top: 25px;
    		border: 2px solid transparent;
    		outline: none;
			&:hover{
				border-color: #4da83b;
				border-radius: 5px;
			}
			
			@include change-size{
				margin-top: 10px;
			}
		}
	}
	main{
		.block{
			width: 250px;
			border-radius: 6px;
			background-color: #fff;
			display: inline-block;
		    padding: 50px 0;
		    margin: 10px 0 0 2%;
		    float: left;
		    height: 71px;
		    @include change-size{
		    	width: 95%;
		    	display: block;
		    	margin-left: 0;
		    }
			.block__play{
				border-radius: 6px;
				background-color:  #5fcf80;
				width: 80%;
				height: 30px;
				text-transform: uppercase;
				color: #fff;
				box-shadow: 3px 2px 6px #000;
			    border: none;
			    display: block;
			    margin: 15px auto;
			    opacity: 0.7;
			    outline: none;

				&:hover{
					opacity: 0.9;
				}
				
				@include change-size{
					width: 50%;
				}
			}
		}
		section{
			width: calc(96% - 450px);
			display: inline-block;
			float: left;
			@include change-size{
		    	width: 100%;
		    	display: block;
		    }
			.art{
				margin: 10px auto;
				background-color: #fff;
				
				border-radius: 6px;
				width: 95%;
				position: relative;
				.art__photo{
					display: inline-block;
					width: 90px;
					height: 100px;
					background: url(../images/char-boy.png) no-repeat;
				}
				#princess{
					background: url(../images/char-princess-girl.png) no-repeat;
				}
				#bug{
					background: url(../images/char-horn-girl.png) no-repeat;
				}
				#heart{
					background: url(../images/char-pink-girl.png) no-repeat;
				}
				.art__text{
					display: inline-block;
					position: absolute;
					@include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
				}
			}
		}
		aside{
		display: inline-block;
		width: 200px;
		height: 500px;
		background-color: #fff;
	    margin: 1% 1% 0 0;
	    border-radius: 6px;
	    @include change-size{
		    	width: 95%;
		    	
		    }
		}
	}
}
